RewriteEngine On

# If the request is not a real file or directory...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything through index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Prevent access to .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>



